@font-face {
    font-family: "BaiJamjuree";
    src: url("../fonts/BaiJamjuree.ttf") format("truetype");
}

@font-face {
    font-family: "ChakraPetch";
    src: url("../fonts/ChakraPetch.ttf") format("truetype");
}

@font-face {
    font-family: "IBMPlexSansThai";
    src: url("../fonts/IBMPlexSansThai.ttf") format("truetype");
}

@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit.ttf") format("truetype");
}

@font-face {
    font-family: "Kodchasan";
    src: url("../fonts/Kodchasan.ttf") format("truetype");
}

@font-face {
    font-family: "Maitree";
    src: url("../fonts/Maitree.ttf") format("truetype");
}

@font-face {
    font-family: "Mitr";
    src: url("../fonts/Mitr.ttf") format("truetype");
}

@font-face {
    font-family: "Niramit";
    src: url("../fonts/Niramit.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifThai";
    src: url("../fonts/NotoSerifThai.ttf") format("truetype");
}

@font-face {
    font-family: "Pridi";
    src: url("../fonts/Pridi.ttf") format("truetype");
}

@font-face {
    font-family: "Prompt";
    src: url("../fonts/Prompt.ttf") format("truetype");
}

@font-face {
    font-family: "Sarabun";
    src: url("../fonts/Sarabun.ttf") format("truetype");
}

@font-face {
    font-family: "Taviraj";
    src: url("../fonts/Taviraj.ttf") format("truetype");
}

@font-face {
    font-family: "Trirong";
    src: url("../fonts/Trirong.ttf") format("truetype");
}

@font-face {
    font-family: "Fahkwang";
    src: url("../fonts/Fahkwang.ttf") format("truetype");
}

@font-face {
    font-family: "THSrisakdi";
    src: url("../fonts/THSrisakdi.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    src: url("../fonts/THSarabunNew.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabun";
    src: url("../fonts/THSarabun.ttf") format("truetype");
}

@font-face {
    font-family: "THNiramitAS";
    src: url("../fonts/THNiramitAS.ttf") format("truetype");
}

@font-face {
    font-family: "THMaliGrade6";
    src: url("../fonts/THMaliGrade6.ttf") format("truetype");
}

@font-face {
    font-family: "THKrub";
    src: url("../fonts/THKrub.ttf") format("truetype");
}

@font-face {
    font-family: "THKoHo";
    src: url("../fonts/THKoHo.ttf") format("truetype");
}

@font-face {
    font-family: "THKodchasal";
    src: url("../fonts/THKodchasal.ttf") format("truetype");
}

@font-face {
    font-family: "THK2DJuly8";
    src: url("../fonts/THK2DJuly8.ttf") format("truetype");
}

@font-face {
    font-family: "THFahkwang";
    src: url("../fonts/THFahkwang.ttf") format("truetype");
}

@font-face {
    font-family: "THCharmonman";
    src: url("../fonts/THCharmonman.ttf") format("truetype");
}

@font-face {
    font-family: "THCharmofAU";
    src: url("../fonts/THCharmofAU.ttf") format("truetype");
}

@font-face {
    font-family: "THChakraPetch";
    src: url("../fonts/THChakraPetch.ttf") format("truetype");
}

@font-face {
    font-family: "THBaijam";
    src: url("../fonts/THBaijam.ttf") format("truetype");
}

@font-face {
    font-family: "AngsanaNew";
    src: url("../fonts/AngsanaNew.ttf") format("truetype");
}

@font-face {
    font-family: "Webdings";
    src: url("../fonts/Webdings.ttf") format("truetype");
}
